
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../eot/regular-3.eot'); /* IE9 Compat Modes */
  src: url('../eot/regulard41d-3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../woff2/regular-3.woff2') format('woff2'), /* Super Modern Browsers */
       url('../woff/regular-3.woff') format('woff'), /* Modern Browsers */
       url('../ttf/regular-3.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('../eot/bold-3.eot'); /* IE9 Compat Modes */
  src: url('../eot/boldd41d-3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../woff2/bold-3.woff2') format('woff2'), /* Super Modern Browsers */
       url('../woff/bold-3.woff') format('woff'), /* Modern Browsers */
       url('../ttf/bold-3.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('../eot/italic-2.eot'); /* IE9 Compat Modes */
  src: url('../eot/italicd41d-2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../woff2/italic-2.woff2') format('woff2'), /* Super Modern Browsers */
       url('../woff/italic-2.woff') format('woff'), /* Modern Browsers */
       url('../ttf/italic-2.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url('../eot/bolditalic-2.eot'); /* IE9 Compat Modes */
  src: url('../eot/bolditalicd41d-2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../woff2/bolditalic-2.woff2') format('woff2'), /* Super Modern Browsers */
       url('../woff/bolditalic-2.woff') format('woff'), /* Modern Browsers */
       url('../ttf/bolditalic-2.ttf') format('truetype'); /* Safari, Android, iOS */
}